.additional-goods {
  border: solid;
  width: 280px;
  height: auto;
}

.additional-goods__title {
  border: solid;
  width: 226px;
  height: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__inner {
  border: solid;
  width: auto;
  height: auto;
}

.additional-goods__item {
  border-bottom: 1px solid #d9d9d9;
}

.additional-goods__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.additional-goods__description-row {
  border-collapse: collapse;
}

.additional-goods__description-value {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}

.additional-goods__description-price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.additional-goods__order {
  border: solid;
  width: 280px;
  height: 40px;
  background-color: $basic_green;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
}
