.comments {
  width: 400px;
  height: auto;
}

.comments__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
}

.comments__textarea {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .comments__title {
    font-size: 36px;
    line-height: 36px;
    width: 182px;
    height: 36px;
  }

  .comments__textarea {
    font-size: 20px;
    line-height: 30px;
    Width: 631px;
    Height: 174px;
  }

}

@media (min-width: $desktop-width) {
  .comments__textarea {
    font-size: 20px;
    line-height: 30px;
    Width: 1220px;
    Height: 174px;
  }
}
