.comments {
  border:  solid;
  width: 400px;
  height: auto;
}
.comments__title {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 26px;
}
.comments__textarea {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
}
