.contacts__title {
  font-size: 16px;
  line-height: 18px;
  border: solid;
  width: 140px;
  height: auto;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  border: solid;
  width: 140px;
  height: auto;
}
