.example__item {
  border:  solid;
  width: 280px;
  height: auto;
}
.example__number {
  font-family: "Oswald" serif;
  font-size: 24px;
  color: #000000;
}
.example__description-item {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}
