.example {
  background-color: #eaeaea;
  width: 280px;
  height: auto;
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  width: 195px;
  height: 40px;
  line-height: 40px;
}

.example__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: $black;
  width: 188px;
  height: 20px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $special_dark-grey;
  line-height: 18px;
  width: 280px;
  height: auto;
}

.example__list {
  font-family: "Oswald", sans-serif;
  width: 280px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 0 0;

}

.example__item {
  width: 124px;
  height: 56px;
  border: 1px solid $special_grey;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: $black;
  position: relative;
  justify-content: center;
}

.example__item-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  width: 87px;
  height: 19px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: -15px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $basic-white;
    width: 708px;
    height: auto;
  }

  .example__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .example__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    width: 325px;
    height: 60px;
    line-height: 60px;
  }



  .example__cost {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    width: auto;
    height: auto;
  }

  .example__description {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: $special_dark-grey;
    line-height: 24px;
    width: 708px;
    height: 72px;
  }

  .example__list {
    font-family: "Oswald", sans-serif;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 0 0;
    width: 708px;
  }

  .example__item {
    width: 162px;
    height: 72px;
    border: 1px solid $special_grey;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: $black;
    position: relative;
    justify-content: center;
  }

  .example__item-description {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: $special_dark-grey;
    width: 87px;
    height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: -15px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 656px;
  }
  .example__wrapper {
    display: flex;
    flex-direction: column;
  }

  .example__inner {
    width: 436px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    width: 325px;
    height: 60px;
    line-height: 60px;
  }

  .example__description {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: $special_dark-grey;
    line-height: 24px;
    width: 436px;
    height: 90px;
  }

  .example__cost {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    width: 330px;
    height: 20px;
  }


}
