.example__title {
  font-family: "Oswald";
  font-size: 36px;
  border: solid;
  width: auto;
  height: auto;
}
p {
  font-family: "Oswald";
  font-size: 14px;
  color: #000000;
  border: solid;
  width: auto;
  height: auto;
}
