.example {
  background-color: #eaeaea;
  border: solid;
  width: 280px;
  height: auto;
}
.example__title {
  font-family: "Oswald";
  font-size: 36px;
  border: solid;
  width: auto;
  height: auto;
}
.example__cost {
  font-family: "Oswald";
  font-size: 14px;
  color: $black;
  border: solid;
  width: auto;
  height: auto;
}
.example__description {
  font-family: "Arial";
  font-size: 14px;
  color: $special_dark-grey;
  line-height: 18px;
  border: solid;
  width: 280px;
  height: auto;
}
.example__item {
  border: solid;
  width: 280px;
  height: auto;
}
.example__number {
  font-family: "Oswald";
  font-size: 24px;
  color: $black;
}
.example__description-item {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
}
