.example {
  background-color: #EAEAEA;
  border:  solid;
  width: 280px;
  height: auto;
}
.example__title {
  font-family: "Oswald";
  font-size: 36px;
  border: solid;
  width: auto;
  height: auto;
}
p {
  font-family: "Oswald";
  font-size: 14px;
  color: #000000;
  border: solid;
  width: auto;
  height: auto;
}
.example__description {
  font-family: "Arial";
  font-size: 14px;
  color: #444444;
  line-height: 18px;
  border:  solid;
  width: 280px;
  height: auto;
}
.example__item {
  border:  solid;
  width: 280px;
  height: auto;
}
.example__number {
  font-family: "Oswald" serif;
  font-size: 24px;
  color: #000000;
}
.example__description-item {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}
