.losing-weigh {
  background-color: #F2F2F2;
  border:  solid;
  width: 280px;
  height: auto;
}
.losing-weight__slogan {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 37px;

}
.losing-weight__intro {
  font-family: "Arial";
  font-size: 14px;
  color: #444444;
  line-height: 18px;
  border-bottom: 1px solid #D9D9D9;

}
a {
  font-family: Oswald;
  font-size: 16px;
}
