.product-all {
  width: 279px;
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-all__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.product-all__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product-all__link {
  width: 280px;
  height: 40px;
  background: $special_grey-3;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey;
  padding: 10px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-all {
    width: 324px;
    height: 429px;
  }

  .product-all__title {
    width: 134px;
    height: 44px;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
  }

  .product-all__subtitle {
    width: 167px;
    height: 36px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}
