.page-footer__social {
  width: 320px;
  height: 236px;
}

.social__list {
  width: 280px;
  height: auto;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    width: 768px;
    height: 150px;
  }

  .social__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__social {
    width: 1440px;
    height: 149px;
  }
}
