.special-offer {
  background-image: url("../img/gift-photo-mobile 1.png");
  background-repeat: no-repeat;
  border: solid;
  width: 280px;
  height: 290px;
  position: relative;
}

.special-offer__title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  border: solid;
}
