.special-offer {
  background-image: url("../img/gift-photo-mobile 1.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  position: relative;
}

.special-offer__title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  width: 161px;
  height: 60px;
  position: absolute;
}

@media (min-width: $tablet-width) {
  .special-offer {
    width: 708px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .special-offer {
    width: 245px;
    height: 289px;
  }
}
