.status {
  background-image: url("../img/index-background-desktop 2 (1).png");
  background-repeat: no-repeat;
  position: relative;
  width: 280px;
  height: auto;
}

.status::after {
  background-color: rgba(104, 183, 56, 0.85);
  content: "";
  width: 100%;
  height: 302px;
  position: absolute;
  top: 0;
  left: 0;
}

.status__header-toggle {
  font-size: 14px;
  line-height: 18px;
  background-color: $basic_green;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 44px;
}

.status__intro {
  font-size: 36px;
  color: $basic-white;
  line-height: 36px;
  position: relative;
  z-index: 1;
}

.status__slogan {
  font-size: 14px;
  color: $basic-white;
  position: relative;
  z-index: 1;
}

.status__img {
  position: relative;
  z-index: 1;
}


@media (min-width: $tablet-width) {
  .status {
   background-image: none;
   padding-bottom: 526px;
  }
  .status::after {
    display: none;
  }

  .status__img {
    position: absolute;
    z-index: 0;
  }

  .status__intro {
    color: $black;
    width: 440px;
  }

  .status__slogan {
    color: $black;
    width: 440px;
  }

  .status__header-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 26px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .status__intro {
    color: $black;
    width: 960px;
  }

  .status__slogan {
    color: $black;
    width: 960px;
  }

  .status__header-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 26px;
  }
}
