$basic_green: #68b738;
$basic_grey: #e5e5e5;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_grey-3:  #f2f2f2;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$black: #000000;
$basic-white: #ffffff;
